
{% use '@ezdesign/content_fields.html.twig' %}

{% trans_default_domain 'enhancedrelationlist_attribute' %}

{% block intprogenhancedrelationlist_field %}
    {% import _self as erl_table_macros %}

    {{ erl_table_macros.render_intprogenhancedrelationlist(content, field, fieldSettings) }}
{% endblock %}

{% macro render_intprogenhancedrelationlist(content, field, fieldSettings) %}
    {% import _self as erl_table_macros %}

    {% include '@ezdesign/parts/table_header.html.twig' with {headerText: 'field.attribute.table.head.relations'|trans} %}
    <table class="table mb-0">
        {{ erl_table_macros.table_head_macro(fieldSettings, field) }}
        <tbody>
        {% for relation in field.value.relations %}
            {{ erl_table_macros.relation_row(field, relation, fieldSettings) }}
        {% endfor %}
        {% for name,group in field.value.groups %}
            <tr>
                <th colspan="{{ 1 + fieldSettings.attributeDefinitions|length }}">
                    {{ fieldSettings.groupSettings.groups[group.name] is defined ?
                        fieldSettings.groupSettings.groups[group.name][field.languageCode]|default(fieldSettings.groupSettings.groups[group.name]|first) :
                        group.name }}
                </th>
            </tr>
            {% if group.relations is not empty %}
                {% for relation in group.relations %}
                    {{ erl_table_macros.relation_row(content, field, relation, fieldSettings) }}
                {% endfor %}
            {% else %}
                <tr><td colspan="{{ 1 + fieldSettings.attributeDefinitions|length }}"><em>{{ 'field.attribute.table.empty'|trans }}</em></td></tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro table_head_macro(fieldSettings, field) %}
    <thead>
    <tr>
        <th>{{ 'field.attribute.table.head.relation'|trans }}</th>
        {% for attributeDefinition in fieldSettings.attributeDefinitions %}
            <th>
                {% if attributeDefinition.names[field.languageCode] is defined %}
                    {{ attributeDefinition.names[field.languageCode] }}
                {% else %}
                    {{ attributeDefinition.names|first }}
                {% endif %}
            </th>
        {% endfor %}
    </tr>
    </thead>
{% endmacro %}

{% macro relation_row(content, field, relation, fieldSettings) %}
    <tr>
        <td>
            {{ render(controller('ez_content:viewAction', {'contentId': relation.contentId, 'viewType': 'element_simple_link', 'layout': false})) }}
        </td>
        {% for identifier in relation.attributes|keys %}
            <td>
                {% if relation.attributes[identifier] is defined %}
                    {{ erl_render_relation_attribute(content, field, relation, identifier) }}
                {% endif %}
            </td>
        {% endfor %}
    </tr>
{% endmacro %}
