
{% use 'EzPublishCoreBundle::content_fields.html.twig' %}

{% trans_default_domain 'enhancedrelationllist_attribute' %}

{% block intprogenhancedrelationlist_field %}
    <table class="table mb-0">
        <thead>
        <tr>
            <th>{{ 'field_definition.attribute.table.head.relation'|trans }}</th>
            {% for attributeDefinition in fieldSettings.attributeDefinitions %}
                <th>
                    {% if attributeDefinition.name[field.languageCode] is defined %}
                        {{ attributeDefinition.name[field.languageCode] }}
                    {% else %}
                        {{ attributeDefinition.name|first }}
                    {% endif %}
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for relation in field.value.relations %}
            <tr>
                <td>
                    {{ render(controller('ez_content:viewAction', {'contentId': relation.contentId, 'viewType': 'element_simple_link', 'layout': false})) }}
                </td>
                {% for identifier,definition in fieldSettings.attributeDefinitions %}
                    <td>
                        {{ erl_render_attribute(relation.attributes[identifier], definition) }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
