{% trans_default_domain 'enhancedrelationlist_definition_attribute' %}

{#
contains the blocks to render attribute definition edit for the available types.
all types must consider that on definition-edit, they will be rendered with an empty settings-array (default values required).

available data-attributes for special handling of the basic types:
* data-erl-nullable -> if input has an empty string it will be set as null
* data-erl-multiple -> output will be set as array (regardles if multiple fields with the same name exist)
* data-erl-ignore-empty -> if the value is null, it will be skipped and not set while storing the data
#}

{% block boolean_relation_attribute_definition_edit %}
{% endblock %}

{% block integer_relation_attribute_definition_edit %}
    <label class="form-control-label mt-0">
        {{ 'erl.attribute.type.integer.min-value'|trans }}
    </label>
    <input type="number" data-value-path="settings.min" data-erl-nullable class="form-control" value="{{ definition.settings.min|default('') }}" />
    <label class="form-control-label">
        {{ 'erl.attribute.type.integer.max-value'|trans }}
    </label>
    <input type="number" data-value-path="settings.max" data-erl-nullable class="form-control" value="{{ definition.settings.max|default('') }}" />
{% endblock %}

{% block string_relation_attribute_definition_edit %}
    <label class="form-control-label mt-0">
        {{ 'erl.attribute.type.string.min-length'|trans }}
    </label>
    <input type="number" data-value-path="settings.minLength" data-erl-nullable class="form-control" value="{{ definition.settings.minLength|default('') }}" />
    <label class="form-control-label">
        {{ 'erl.attribute.type.string.max-length'|trans }}
    </label>
    <input type="number" data-value-path="settings.maxLength" data-erl-nullable class="form-control" value="{{ definition.settings.maxLength|default('') }}" />
{% endblock %}

{% block selection_relation_attribute_definition_edit %}
    {% import _self as attributeDefinition %}

    <div class="form-check form-check-inline">
        <label class="checkbox-inline form-check-label">
            <input class="form-check-input" data-value-path="settings.multiple" type="checkbox"{% if definition.settings.multiple|default(false) %} checked="checked"{% endif %} />
            {{ 'erl.attribute.type.selection.multiple'|trans }}
        </label>
    </div>

    <div class="erl-selection-attribute-edit" data-option-template="{{ attributeDefinition.selection_option('', '%index%')|json_encode }}">
        <label class="form-control-label">{{ 'erl.attribute.type.selection.options'|trans }}</label>
        {% for index,optionNames in definition.settings.options|default([]) %}
            {{ attributeDefinition.selection_option(optionNames, index) }}
        {% endfor %}
        {% if definition.settings.options|default([]) is not empty %}
            {{ attributeDefinition.selection_option('', definition.settings.options|keys|last + 1) }}
        {% else %}
            {{ attributeDefinition.selection_option('', 0) }}
        {% endif %}
    </div>
{% endblock %}

{% macro selection_option(optionNames, index) %}
{% spaceless %}
<div class="input-group">
    <div class="input-group-prepend">
        <div class="input-group-text">
            <button class="btn px-0 pt-0 pb-0">{{ 'erl.attribute.type.selection.options.remove'|trans|desc('Remove') }}</button>
        </div>
    </div>
    {% for languageCode in admin_ui_config.languages.priority %}
        <input type="text"
               data-value-path="settings.options.{{ index }}.{{ languageCode }}"
               class="form-control{% if loop.first %} active{% endif %}"
               data-erl-nullable data-erl-ignore-empty
               data-erl-language-code="{{ languageCode }}"
               value="{{ optionNames[languageCode]|default('') }}"
               {% if not loop.first %}placeholder="{{ optionNames[admin_ui_config.languages.priority|first]|default('') }}"{% endif %}>
    {% endfor %}
</div>
{% endspaceless %}
{% endmacro selection_option %}
