{% trans_default_domain "fielddefinition" %}
{% extends '@ezdesign/fielddefinition_settings.html.twig' %}

{% block intprogenhancedrelationlist_settings %}
    <ul class="ez-fielddefinition-settings ez-fielddefinition-{{ fielddefinition.fieldTypeIdentifier }}-settings">
        <li class="ez-fielddefinition-setting selection-limit">
            <span class="ez-fielddefinition-setting-name">{{ 'fielddefinition.selection.limit.label'|trans|desc("Selection limit:") }}</span>
            <span class="ez-fielddefinition-setting-value">
                {% if settings.selectionLimit %}
                    {{ selectionLimit }}
                {% else %}
                    <em>{{ 'fielddefinition.selection.limit.none'|trans|desc("No limit") }}</em>
                {% endif %}
            </span>
        </li>

        {{ block( 'settings_selection_content_types_enhanced' ) }}

        {% set rootLocationId = settings.defaultBrowseLocation %}
        {{ block( 'settings_selectionroot' ) }}

        {{ block( 'settings_attribute_definitions' ) }}

        {{ block( 'settings_group_setting' ) }}
    </ul>
{% endblock %}

{% block settings_selectionroot %}
    <li class="ez-fielddefinition-setting selection-root">
        <span class="ez-fielddefinition-setting-name">{{ 'fielddefinition.selection-root.label'|trans|desc("Selection root:")}}</span>
        <span class="ez-fielddefinition-setting-value">
            {% if rootLocationId %}
                {{ render_esi( controller( "ez_content:viewAction", {'locationId': rootLocationId, 'viewType': 'element_simple_link'} )) }}
            {% else %}
                <em>{{ 'fielddefinition.selection-root.undefined'|trans|desc("No defined root")}}</em>
            {% endif %}
        </span>
    </li>
{% endblock %}

{% block settings_selection_content_types_enhanced %}
    <li class="ez-fielddefinition-setting allowed-content-types">
        <span class="ez-fielddefinition-setting-name">{{ 'fielddefinition.allowed-content-types.label'|trans|desc("Allowed content types:") }}</span>
        <span class="ez-fielddefinition-setting-value">
            {% if fielddefinition.validatorConfiguration.relationValidator.allowedContentTypes %}
                {# TODO display content type name #}
                <ul>
                    {% for typeIdentifier in fielddefinition.validatorConfiguration.relationValidator.allowedContentTypes %}
                        <li>{{ typeIdentifier }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <em>{{ 'fielddefinition.allowed-content-types.any'|trans|desc("Any") }}</em>
            {% endif %}
        </span>
    </li>
{% endblock %}

{% block settings_attribute_definitions %}
    <li class="ez-fielddefinition-setting allowed-content-types">
        <span class="ez-fielddefinition-setting-name">{{ 'fielddefinition.attribute.definitions.label'|trans|desc("Attribute definitions:") }}</span>
        <span class="ez-fielddefinition-setting-value">
            {% if settings.attributeDefinitions %}
                <ul>
                    {% for identifier,definition in settings.attributeDefinitions %}
                        <li>
                            {% set displaying = false %}
                            {% for code in fielddefinition.prioritizedLanguages if not displaying and definition.names[code] is defined %}
                                {{ definition.names[code] }}
                                {% set displaying = true %}
                            {% endfor %}
                            {% if not displaying %}{{ definition.names|first }}{% endif %}
                            (identifier: {{ identifier }}, type: {{ definition.type }})
                            <ul>
                                {% if definition.required %}
                                    <li>{{ 'fielddefinition.attribute.definitions.required.yes'|trans|desc('Value is required.') }}</li>
                                {% else %}
                                    <li>{{ 'fielddefinition.attribute.definitions.required.no'|trans|desc('Value is optional.') }}</li>
                                {% endif %}
                                {% if definition.settings is defined and definition.settings %}
                                    <li>
                                        {{ 'fielddefinition.attribute.definitions.settings'|trans|desc('Settings:') }}
                                        <div class="erl-attribute-definition">{{ erl_render_attribute_definition(fielddefinition, definition) }}</div>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </span>
    </li>
{% endblock %}

{% block settings_group_setting %}
    <li class="ez-fielddefinition-setting group-setting">
        <span class="ez-fielddefinition-setting-name">{{ 'fielddefinition.group.setting.label'|trans|desc("Group settings:") }}</span>
        <div class="ez-fielddefinition-setting-value">
            <ul>
                {% if settings.groupSettings.positionsFixed %}
                    <li>{{ 'fielddefinition.group.setting.positionsFixed.yes'|trans|desc('Static group positions are fixed.') }}</li>
                {% else %}
                    <li>{{ 'fielddefinition.group.setting.positionsFixed.no'|trans|desc('Static groups are repositionable.') }}</li>
                {% endif %}
                {% if settings.groupSettings.extendable %}
                    <li>{{ 'fielddefinition.group.setting.extendable.yes'|trans|desc('Custom groups can be added.') }}</li>
                {% else %}
                    <li>{{ 'fielddefinition.group.setting.extendable.no'|trans|desc('Only fixed groups are available.') }}</li>
                {% endif %}
                {% if settings.groupSettings.allowUngrouped %}
                    <li>{{ 'fielddefinition.group.setting.allowUngrouped.yes'|trans|desc('Items can be placed outside of groups.') }}</li>
                {% else %}
                    <li>{{ 'fielddefinition.group.setting.allowUngrouped.no'|trans|desc('Item ouside of group is disallowed.') }}</li>
                {% endif %}
                <li>
                    {{ 'fielddefinition.group.setting.groups.label'|trans|desc('Static groups') }}
                    <ul>
                        {% for identifier,group in settings.groupSettings.groups %}
                            <li>
                                {{ identifier }}:
                                {% set displaying = false %}
                                {% for code in fielddefinition.prioritizedLanguages if not displaying and group[code] is defined %}
                                    {{ group[code] }}
                                    {% set displaying = true %}
                                {% endfor %}
                                {% if not displaying %}{{ group|first }}{% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </li>
{% endblock %}
