{% trans_default_domain 'enhancedrelationlist_definition_attribute' %}

{%- block intprogenhancedrelationlist_definition_attributes_widget -%}
    {% import _self as attribute_edit %}

    <input type="hidden" name="{{ full_name }}" value="{{ value }}">

    <div class="ez-card__header ez-card__header--secondary d-flex justify-content-between"
         style="border-radius: 0.25rem 0.25rem 0 0; padding: 0.75rem 1.25rem 0.5rem 1.25rem;">
        <div class="p-2">
            {{ 'field_definition.attribute_definition.table_head'|trans }}
        </div>
        <div class="form-inline">
            <div class="ez-card__field-control mr-2">
                <select class="ez-field-selection form-control">
                    {% for type in availableAttributeTypes %}
                        <option value="{{ type }}">{{ (type~'.name')|trans }}</option>
                    {% endfor %}
                </select>
                <button type="button" class="btn btn-primary btn">
                    {{ 'field_definition.attribute_difinition.add_attribute'|trans }}
                </button>
            </div>

            <button type="button" title="Delete Content field definition" class="btn btn-danger">
                <svg class="ez-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#trash"></use>
                </svg>
            </button>
        </div>
    </div>
    <table class="table ez-table--list" style="margin-bottom: 0;">
        <thead>
        <tr>
            <th style="width: 25%;">{{ 'field_definition.attribute_definition.col.name'|trans }}</th>
            <th style="width: 15%;">{{ 'field_definition.attribute_definition.col.type'|trans }}</th>
            <th style="width: 50%;">{{ 'field_definition.attribute_definition.col.settings'|trans }}</th>
            <th style="width: 10%;">{{ 'field_definition.attribute_definition.col.required'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for identifier,attribute in attributesData %}
            {{ attribute_edit.render_attribute(identifier, attribute) }}
        {% endfor %}
        </tbody>
    </table>
    {{ dump(attributesData) }}
    {{ dump(_context) }}
{%- endblock -%}

{% macro render_attribute(identifier, attribute) %}
    {% import _self as attribute_edit %}

    <tr>
        <td data-value-path="{{ identifier }}.name.{{ attribute.name|keys|first }}">
            <label style="width: 100%;">
                <input type="text" class="form-control" value="{{ attribute.name|first }}">
            </label>
        </td>
        <td data-value-path="{{ identifier }}.type">
            {{ (attribute.type~'.name')|trans }}
            <input type="hidden" value="attribute.type">
        </td>
        <td>
            {{ attribute_edit.render_attribute_settings(attribute) }}
        </td>
        <td data-value-path="{{ identifier }}.required">
            <label class="ez-data-source__label is-checked" style="width: 100%;">
                <input type="checkbox" {% if attribute.required %} checked="checked"{% endif %} value="1">
            </label>
        </td>
    </tr>
{% endmacro %}

{% macro render_attribute_settings(attribute) %}
    {% set settings = erl_render_attribute_definition_input(attribute) %}

    {% if settings|trim %}
        {{ settings|raw }}
    {% else %}
        <i>No settings available.</i>
    {% endif %}
{% endmacro %}
