{% trans_default_domain 'enhancedrelationlist_definition_attribute' %}

{%- block intprogenhancedrelationlist_definition_attributes_widget -%}
    {% import _self as attribute_edit %}

    <div class="intprogenhancedrelationlist-definition-edit">
        <input type="hidden" class="erl-json-value" name="{{ full_name }}" value="{{ value }}">

        <div class="ez-card__header ez-card__header--secondary d-flex justify-content-between"
             style="border-radius: 0.25rem 0.25rem 0 0; padding: 0.75rem 1.25rem 0.5rem 1.25rem;">
            <div class="p-2">
                <select class="form-control mb-0 erl-attribute-head-language-select">
                    {% for languageCode in admin_ui_config.languages.priority %}
                        <option{% if loop.first %} selected{% endif %} value="{{ languageCode }}">{{ admin_ui_config.languages.mappings[languageCode].name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-inline">
                <div class="ez-card__field-control mr-2 erl-attribute-head-input">
                    <input type="text" class="form-control erl-attribute-new-identifier" value="" placeholder="{{ 'field_definition.attribute_definition.attribute.identifier.placeholder'|trans }}" />
                    <select class="erl-attribute-selection form-control erl-attribute-new-type">
                        {% for type in availableAttributeTypes %}
                            <option value="{{ type }}">{{ (type~'.name')|trans }}</option>
                        {% endfor %}
                    </select>
                    <button type="button" class="btn btn-primary btn erl-attribute-add-button">
                        {{ 'field_definition.attribute_difinition.add_attribute'|trans }}
                    </button>
                </div>

                <button type="button" title="Delete Content field definition" class="btn btn-danger">
                    <svg class="ez-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#trash" />
                    </svg>
                </button>
            </div>
        </div>
        {% set templateData = [] %}
        {% for type in availableAttributeTypes %}
            {% set templateData = templateData|merge({(type): attribute_edit.render_attribute('%identifier%', {name: '', type: type, required: false, settings: []})}) %}
        {% endfor %}
        <table class="table ez-table--list erl-table" style="margin-bottom: 0;"
               data-attribute-template='{{ templateData|json_encode }}'>
            <thead>
            <tr>
                <th class="erl-drag-column"/>
                <th style="width: 25%;">{{ 'field_definition.attribute_definition.col.name'|trans }}</th>
                <th style="width: 15%;">{{ 'field_definition.attribute_definition.col.type'|trans }}</th>
                <th style="width: 45%;">{{ 'field_definition.attribute_definition.col.settings'|trans }}</th>
                <th style="width: 15%;">{{ 'field_definition.attribute_definition.col.required'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for identifier,attribute in attributesData %}
                {{ attribute_edit.render_attribute(identifier, attribute) }}
            {% endfor %}
            </tbody>
        </table>
    </div>
{%- endblock -%}

{% macro render_attribute(identifier, attribute) %}
{% spaceless %}
    {% import _self as attribute_edit %}

    <tr class="erl-attribute-item" data-value-path="{{ identifier }}">
        <td class="erl-drag-column erl-drag-handle">
            <i class="drag-icon" />
        </td>
        <td>
            {% for languageCode in admin_ui_config.languages.priority %}
                <label style="width: 100%;" data-erl-nullable data-erl-ignore-empty data-erl-language-code="{{ languageCode }}"{% if loop.first %} class="active"{% endif %}>
                    <input type="text"
                           data-value-path="name.{{ languageCode }}"
                           class="form-control"
                           value="{{ attribute.name[languageCode]|default('') }}"
                           {% if not loop.first %}placeholder="{{ attribute.name[admin_ui_config.languages.priority|first]|default('') }}"{% endif %}>
                </label>
            {% endfor %}
        </td>
        <td>
            {{ (attribute.type~'.name')|trans }}
            <input type="hidden" value="{{ attribute.type }}" data-value-path="type">
        </td>
        <td>
            {{ attribute_edit.render_attribute_settings(attribute) }}
        </td>
        <td>
            <label class="ez-data-source__label is-checked" style="width: 100%;">
                <input type="checkbox" data-value-path="required"{% if attribute.required %} checked="checked"{% endif %} value="1">
            </label>
        </td>
    </tr>
{% endspaceless %}
{% endmacro %}

{% macro render_attribute_settings(attribute) %}
{% spaceless %}
    {% set settings = erl_render_attribute_definition_input(attribute) %}

    {% if settings|trim %}
        {{ settings|raw }}
    {% else %}
        <i>No settings available.</i>
    {% endif %}
{% endspaceless %}
{% endmacro %}
