{% trans_default_domain 'enhancedrelationllist_attribute' %}

{%- block intprogenhancedrelationlist_widget -%}
    {% set limit = limit|default(0) %}
    {% set default_location = default_location|default(0) %}
    {% set allowed_content_type_identifiers = allowed_content_type_identifiers|default([]) %}
    {% set fieldSettings = form.parent.vars.data.fieldDefinition.fieldSettings %}
    {% import _self as enhanced_relation_list_macros %}

    {# TODO: respect grouping configuration! #}

    {% include '@EzPlatformAdminUi/parts/table_header.html.twig' with {
        headerText: 'field_definition.attribute.table_head'|trans,
        tools: enhanced_relation_list_macros.head_buttons(limit)
    } %}
    <input type="hidden" class="relation-json" name="{{ full_name }}" value="{{ value|escape }}">
    <table class="relation-root-table erl-table table mb-0" data-form-root="{{ full_name }}">
        <thead>
        <tr>
            <th class="erl-drag-column"/>
            <th class="slim"/>
            <th>{{ 'field_definition.attribute.table.head.relation'|trans }}</th>
            {% for attributeDefinition in fieldSettings.attributeDefinitions %}
                <th>
                    {% if attributeDefinition.name[form.parent.vars.languageCode] is defined %}
                        {{ attributeDefinition.name[form.parent.vars.languageCode] }}
                    {% else %}
                        {{ attributeDefinition.name|first }}
                    {% endif %}
                    {% if attributeDefinition.required %}*{% endif %}
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody class="ez-relations__list" data-limit="{{ limit }}" data-default-location="{{ default_location }}"
               data-allowed-content-types="{{ allowed_content_type_identifiers|join(',') }}">
        {% set relationIndex = 0 %}
        {% for relation in array_data %}
            {% if relation.contentId is defined %}
                {{ enhanced_relation_list_macros.relation_row(relation, fieldSettings, relationIndex, attribute_errors) }}
                {% set relationIndex = relationIndex + 1 %}
            {% else %}
                {{ enhanced_relation_list_macros.group_row(relation.group, fieldSettings, (relation.group in fieldSettings.groupSettings.groups)) }}
            {% endif %}
        {% endfor %}
        {% for group in fieldSettings.groupSettings.groups if {group: group} not in array_data %}
            {{ enhanced_relation_list_macros.group_row(group, fieldSettings, true) }}
        {% endfor %}
        </tbody>
    </table>

    <div class="input-attributes-layout" style="display: none;">
        {% for identifier,attributeDefinition in fieldSettings.attributeDefinitions %}
            <div class="input-element-wrapper" data-value-path="attributes.{{ identifier }}">
                {{ erl_render_attribute_input(attributeDefinition, null, []) }}
            </div>
        {% endfor %}
    </div>
{%- endblock -%}

{% macro head_buttons(limit) %}
    <button
            {% if limit == 1 %}
                data-udw-config="{{ ez_udw_config('single', {}) }}"
            {% else %}
                data-udw-config="{{ ez_udw_config('multiple', {}) }}"
            {% endif %}
            type="button" class="ez-relations__table-action--create btn btn-primary">
        <svg class="ez-icon">
            <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#create"/>
        </svg>
    </button>
    <button type="button" class="ez-relations__table-action--remove btn btn-primary" disabled="">
        <svg class="ez-icon">
            <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#trash"/>
        </svg>
    </button>
{% endmacro %}

{% macro relation_row(relation, fieldSettings, index, attribute_errors) %}
    <tr class="ez-relations__item erl-relation-item">
        <td class="erl-drag-column erl-drag-handle">
            <i class="drag-icon" />
        </td>
        <td class="slim">
            <label class="slim-content">
                <input class="erl-remove-control" type="checkbox">
            </label>
        </td>
        <td data-value-path="contentId">
            <div>
                {{ ez_content_name(relation.vars.content) }}
                <input type="hidden" value="{{ relation.contentId }}">
            </div>
        </td>
        {% for identifier,attribute in relation.attributes %}
            <td data-value-path="attributes.{{ identifier }}">
                {{ erl_render_attribute_input(
                    fieldSettings.attributeDefinitions[identifier],
                    attribute,
                    {errors: attribute_errors[index][identifier]|default([])}
                ) }}
            </td>
        {% endfor %}
    </tr>
{% endmacro %}

{% macro group_row(group, fieldSettings, system) %}
    <tr class="ez-relations__group erl-relation-group">
        {% if not fieldSettings.groupSettings.positionsFixed %}
            <td class="erl-drag-column erl-drag-handle">
                <i class="drag-icon" />
            </td>
        {% else %}
            <td> </td>
        {% endif %}
        <td class="slim">
            <label class="slim-content">
                <input class="erl-remove-control" type="checkbox">
            </label>
        </td>
        <td>
            Group name:
        </td>
        {% for attribute in fieldSettings.attributeDefinitions %}
            {% if loop.first %}
                <td data-value-path="group">
                    <label>
                        <input type="text"
                               {% if system %}disabled="disabled"{% endif %}
                               class="ez-data-source__input form-control erl-group-name-input"
                               value="{{ group }}">
                    </label>
                </td>
            {% else %}
                <td> </td>
            {% endif %}
        {% endfor %}
    </tr>
{% endmacro %}