{% trans_default_domain 'enhancedrelationlist_attribute' %}

{%- block intprogenhancedrelationlist_widget -%}
    {% set limit = limit|default(0) %}
    {% set default_location = default_location|default(0) %}
    {% set allowed_content_type_identifiers = allowed_content_type_identifiers|default([]) %}
    {% set fieldSettings = form.parent.vars.data.fieldDefinition.fieldSettings %}
    {% set extendable = fieldSettings.groupSettings.extendable %}

    {% import _self as enhanced_relation_list_macros %}

    <input type="hidden" class="relation-json" name="{{ full_name }}" value="{{ value|escape }}">
    {% include '@EzPlatformAdminUi/parts/table_header.html.twig' with {
        headerText: 'field_definition.attribute.table_head'|trans,
        tools: enhanced_relation_list_macros.head_buttons(id, label, extendable, limit)
    } %}
    <table class="relation-root-table erl-table table mb-0"
           data-form-root="{{ full_name }}"
           data-allow-duplicates="{{ fieldSettings.selectionAllowDuplicates ? 1 : 0 }}"
           data-attributes-layout="{{ enhanced_relation_list_macros.layout_attributes(form.parent.vars.value.field, fieldSettings.attributeDefinitions)|escape }}"
           data-group-layout="{{ enhanced_relation_list_macros.layout_group(fieldSettings.attributeDefinitions)|escape }}">
        <thead>
        <tr>
            <th class="erl-drag-column"/>
            <th class="slim"/>
            <th>{{ 'field_definition.attribute.table.head.relation'|trans }}</th>
            {% for attributeDefinition in fieldSettings.attributeDefinitions %}
                <th>
                    {% if attributeDefinition.names[form.parent.vars.languageCode] is defined %}
                        {{ attributeDefinition.names[form.parent.vars.languageCode] }}
                    {% else %}
                        {{ attributeDefinition.names|first }}
                    {% endif %}
                    {% if attributeDefinition.required %}*{% endif %}
                </th>
            {% endfor %}
            {% if fieldSettings.attributeDefinitions is empty %}
                <th> </th>
            {% endif %}
        </tr>
        </thead>
        <tbody class="ez-relations__list" data-limit="{{ limit }}" data-default-location="{{ default_location }}" data-allowed-content-types="{{ allowed_content_type_identifiers|join(',') }}">
        {% set relationIndex = 0 %}
        {% for relation in array_data %}
            {% if relation.contentId is defined %}
                {{ enhanced_relation_list_macros.relation_row(form.parent.vars.value.field, relation, fieldSettings, relationIndex, attribute_errors) }}
                {% set relationIndex = relationIndex + 1 %}
            {% else %}
                {% if fieldSettings.groupSettings.groups[relation.group] is defined %}
                    {% if fieldSettings.groupSettings.groups[relation.group][form.parent.vars.languageCode] is defined %}
                        {% set groupName = fieldSettings.groupSettings.groups[relation.group][form.parent.vars.languageCode] %}
                    {% else %}
                        {% set groupName = fieldSettings.groupSettings.groups[relation.group]|first %}
                    {% endif %}
                {% else %}
                    {% set groupName = relation.group %}
                {% endif %}

                {{ enhanced_relation_list_macros.group_row(
                    relation.group,
                    groupName,
                    fieldSettings.attributeDefinitions,
                    fieldSettings.groupSettings.positionsFixed,
                    (fieldSettings.groupSettings.groups[relation.group] is defined)
                ) }}
            {% endif %}
        {% endfor %}
        {% for identifier,group in fieldSettings.groupSettings.groups if {group: identifier} not in array_data %}
            {{ enhanced_relation_list_macros.group_row(
                identifier,
                group[form.parent.vars.languageCode]|default(group|first),
                fieldSettings.attributeDefinitions,
                fieldSettings.groupSettings.positionsFixed,
                true
            ) }}
        {% endfor %}
        </tbody>
    </table>
{%- endblock -%}

{% macro layout_attributes(fieldDefinition, attributeDefinitions) %}
{% spaceless %}
    {% import _self as enhanced_relation_list_macros %}

    {% for identifier,attributeDefinition in attributeDefinitions %}
        <td data-value-path="attributes.{{ identifier }}">
            {{ erl_render_attribute_input(fieldDefinition, attributeDefinition, null, []) }}
        </td>
    {% endfor %}
    {% if attributeDefinitions is empty %}
        <th> </th>
    {% endif %}
{% endspaceless %}
{% endmacro %}

{% macro layout_group(attributeDefinitions) %}
{% spaceless %}
    {% import _self as enhanced_relation_list_macros %}

    {{ enhanced_relation_list_macros.group_row('', '', attributeDefinitions, false, false) }}
{% endspaceless %}
{% endmacro %}

{% macro head_buttons(formSectionName, modalTitle, extendable, limit) %}
    {% if extendable %}
        <button id="{{ formSectionName }}-modal-button" type="button" class="btn btn-primary" data-toggle="modal"
                data-target="#{{ formSectionName }}-add-modal" title="{{ 'tab.translations.action.delete'|trans|desc('Delete Translation') }}">
            <svg class="ez-icon ez-icon-trash">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#create" />
            </svg>
        </button>

        <div class="modal fade ez-modal ez-modal--add-type-selection" id="{{ formSectionName }}-add-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        {{ 'field.edit.add.content-groups.modal.title'|trans({'%fieldLabel%': modalTitle}) }}
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <svg class="ez-icon ez-icon--medium" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#create" />
                            </svg>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="ez-modal-body__main mb-0" style="width: 100%">
                            <tbody>
                            <tr>
                                <td style="text-align: center;">
                                    <button class="btn btn-primary btn--trigger" data-click="#{{ formSectionName }}-udw-button" data-dismiss="modal">
                                        {{ 'field.edit.add.content-groups.modal.add-content.button'|trans|desc('Add content') }}
                                    </button>
                                </td>
                                <td style="text-align: center;">
                                    <button class="btn btn-primary btn--trigger" data-click="#{{ formSectionName }}-add-group-button" data-dismiss="modal">
                                        {{ 'field.edit.add.content-groups.modal.add-group.button'|trans|desc('Add group') }}
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn--no" data-dismiss="modal">
                            {{ 'field.edit.add.content-groups.modal.cancel'|trans|desc('Cancel') }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <button id="{{ formSectionName }}-udw-button"
            {% if extendable %}style="display: none;"{% endif %}
            data-udw-config="{{ ez_udw_config(limit == 1 ? 'single' : 'multiple', {}) }}"
            type="button" class="ez-relations__table-action--create btn btn-primary">
        <svg class="ez-icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#create" />
        </svg>
    </button>

    <button id="{{ formSectionName }}-add-group-button" style="display: none;" type="button" class="ez-relations__table-action--add-group btn btn-primary" />

    <button type="button" class="ez-relations__table-action--remove btn btn-danger" disabled="">
        <svg class="ez-icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ asset('bundles/ezplatformadminui/img/ez-icons.svg') }}#trash" />
        </svg>
    </button>
{% endmacro %}

{% macro relation_row(fieldDefinition, relation, fieldSettings, index, attribute_errors) %}
    <tr class="ez-relations__item erl-relation-item">
        <td class="erl-drag-column erl-drag-handle">
            <i class="drag-icon" />
        </td>
        <td class="slim">
            <label class="slim-content">
                <input class="erl-remove-control" type="checkbox">
            </label>
        </td>
        <td data-value-path="contentId">
            <div>
                {{ ez_content_name(relation.vars.content) }}
                <input type="hidden" value="{{ relation.contentId }}">
            </div>
        </td>
        {% for identifier,attributeDefinition in fieldSettings.attributeDefinitions %}
            <td class="erl-attribute-container{% if attribute_errors[index][identifier] is defined %} has-error{% endif %}" data-value-path="attributes.{{ identifier }}">
                {% if relation.attributes[identifier] is defined %}
                    {{ erl_render_attribute_input(
                        fieldDefinition,
                        attributeDefinition,
                        relation.attributes[identifier],
                        {errors: attribute_errors[index][identifier]|default([])}
                    ) }}
                {% else %}
                    {{ erl_render_attribute_input(fieldDefinition, attributeDefinition, null, []) }}
                {% endif %}

                <div class="error-bubble">
                    <div class="error-container">
                        {% if attribute_errors[index][identifier] is defined %}
                            <ul>
                                {% for error in attribute_errors[index][identifier] %}
                                    <li>{{ error.translatableMessage.message|trans(error.translatableMessage.values) }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </td>
        {% endfor %}
        {% if fieldSettings.attributeDefinitions is empty %}
            <td> </td>
        {% endif %}
    </tr>
{% endmacro %}

{% macro group_row(identifier, group, attributeDefinitions, positionFixed, system) %}
    <tr class="ez-relations__group erl-relation-group">
        {% if not positionFixed %}
            <td class="erl-drag-column erl-drag-handle">
                <i class="drag-icon" />
            </td>
        {% else %}
            <td class="erl-no-drag-column"> </td>
        {% endif %}
        <td class="slim">
            <label class="slim-content">
                {% if not system %}<input class="erl-remove-control" type="checkbox">{% endif %}
            </label>
        </td>
        <td>
            Group name:
        </td>
        <td data-value-path="group">
            <label>
                {% if system %}
                    {{ group }}
                    <input type="hidden" value="{{ identifier }}">
                {% else %}
                    <input type="text" class="ez-data-source__input form-control erl-group-name-input" value="{{ group }}">
                {% endif %}
            </label>
        </td>
        {% for attribute in attributeDefinitions %}
            {% if not loop.first %}
                <td> </td>
            {% endif %}
        {% endfor %}
    </tr>
{% endmacro %}
